<div class="container">
  <div class="row">
    <div class="containerLeft">
      <div FormGroup="resumeForm">
        <h1 class="MAKE A RESUME"></h1>
        <div clss="row" #e>
          <div class="heading">
            <h2>personal details</h2>
          </div>
          <input
            type="text"
            placeholder="enter email"
            value="test@mail.com"
            
          />
          <input
            type="text"
            placeholder="enter Name"
            value="test@mail.com"
            
          />

        </div>
      </div>
    </div>
    <div class="containerRight">
      <div>{{ email }}</div>
    </div>
  </div>
</div>
